<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>헬스장 목록 관리</title>
</head>
<body>
<h1>헬스장 관리 페이지</h1>
<a href="/admin/gyms/register-waiting">[ 헬스장 신규 등록 요청 목록 ]</a>
<h2>헬스장 검색</h2>
<form th:action="@{/admin/gyms/search}" method="get">
  <div>
    <label for="keyword">검색할 헬스장 이름을 입력하세요: </label>
    <input type="text" id="keyword" name="keyword" required>
    <button type="submit">조회</button>
  </div>
</form>
<h2>관리 목록</h2>
<a href="/admin/gyms/register">[ 신규 등록 ]</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Details</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody th:each="gym: ${gymList}">
  <tr>
    <td>
      <span th:text="${gym.id}"/>
    </td>
    <td>
      <span th:text="${gym.name}"/>
    </td>
    <td>
      <span th:text="${gym.location}"/>
    </td>
    <td>
      <a th:href="@{/admin/gyms/{gym-id}(gym-id=${gym.id})}">[ 상세 ]</a>
    </td>
    <td>
      <form th:action="@{/admin/gyms/{id}(id=${gym.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">삭제</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>